body {
	font-family: sniglet; 
	font-size: 24px;
	font-weight: regular 400;
	text-align: center;
	background-color: lightblue;
	color: white;
	cursor: crosshair;
}

a {
	text-decoration: none;
	color: white;

}

a:hover {
	cursor: help;
}

img:hover {
	animation: bounce 1s;
}

.box {
	width: 200px;
	height: 50px; 
	background-color: #EEA2AD; 
	margin-right: 10px;
	margin-bottom: 20px;
	display: inline-block;
	color: white; 
	font-size: 18pt; 
	text-align: center;
	border-radius: 20px;
	border: 1px #a67179;
	padding: 25px;
	font-family: sniglet;
}

.box:hover {
	background: pink;
	color: white;
	cursor: help;
/*	box-shadow: inset 0 0 0 3px #3a7999*/
}

.selected {
	background-color: pink;
}

h1 {
	font-size: 50px;
	color: white;
	font-family: Sniglet;
}

h2 {
	font-size: 40px;
}

h3 {
	font-family: Sniglet;
	font-size: 28px;
	font-weight: 400;
	color: #a67179;
}

h4 {
	color: #A9975B;
	font-size: 24px;
	font-weight: 400;
}

footer {
	font-size: 24px;
}

hr {
	width: 500px;
}

.submit {
	background: #C1B48A;
	color: #F7F1CD;
	height: 80px;
	width: 150px;
	font-size: 30px;
	border-radius: 20px;
	border: 2px solid #B4A471;
	text-shadow:none;
	outline: none;

}


.grid {
	width: 600px;
	margin: 0 auto;
	background-color: #F7F1CD;
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid #C1B48A;
	box-shadow: 10px 15px 5px #C1B48A;
}

.grid h1 {
	font-family: indie flower;
	background-color: #F7E793;
	font-size: 60px;
	text-align: center;
	color: #2095D8;
	padding: 2px 0px;
	border-radius: 50px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

button:hover {
	animation: bounce 1s;
}